<form>
    <h3>Enter your details below</h3>

    <fieldset>
        <bmi-input-radio label="Metric" value="metric" (change)=" selectedUnit = 'metric' "></bmi-input-radio>
        <bmi-input-radio label="Imperial" value="imperial" (change)=" selectedUnit = 'imperial' "></bmi-input-radio>
    </fieldset>


    @if ('metric' === selectedUnit) {

    <fieldset>
        <bmi-input label="Height"></bmi-input>
        <bmi-input label="Weight"></bmi-input>
    </fieldset>

    } @else {

    <fieldset>
        <bmi-input label="Height"></bmi-input>
        <bmi-input></bmi-input>
        <bmi-input label="Weight"></bmi-input>
        <bmi-input></bmi-input>
    </fieldset>

    }
</form>